section.accompaniment
	.accompaniment__container
		h2.title.title--center Проверим, обучим и поправим
		.accompaniment__content
			ul.marked-list
				- let list = ['Проведем бухгалтерский аудит вашей компании', 'Обучим кассиров пользоваться кассой с нуля', 'Подготовимся к налоговой проверке и исправим прошлые чеки'];
				each item in list
					li.marked-list__item= item