section.wireless
	.wireless__container
		.wireless__text
			h1.title Беспроводные онлайн-кассы
			.wireless__descr Простые в использовании. 
				br
				| Подходят для удаленки.
		.wireless__image
			img(src="img/register.png" alt="register")

