.signup
	.signup__container
		form.form(action="#" data-signup name="courseSignupForm")
			.form__top
				.form__title Запишись сейчас!

				input(autocomplete="off" type="text" required name="" class="form__input form__input--phone" placeholder="Телефон")

				input(autocomplete="off" type="text" required name="courseName" class="form__input" placeholder="Курс")

				textarea.form__input.form__area(placeholder="Отрасль (опционально)")

			button.form__send(type="submit") Запишись и получи подарок

			.form__regard
				.form__title Спасибо за заявку. Мы с вами скоро свяжемся.

