section.top-section
	.top-section__container
		.top-section__text
			h1.title Удаленно
				br
				|	По видео
				br
				|	По шагам
			.top-section__descr
				p За 2023 год 
				p 403 бухгалтера, 23 директора,
				p 207 IT-специалистов начали профессионально применять кассу
		.top-section__image
			img(src="img/top-section-image.png" alt="kas")