nav.mulilevel-nav
	ul.menu-list
		li.menu-list__item.dropdowned
			a(href="#").menu-list__link Перший уровень
			.menu-list__icon
			ul.submenu-list
				li.submenu-list__item.dropdowned
					a(href="#").submenu-list__link Другий уровень
					.menu-list__icon
					ul.submenu-list
						li.submenu-list__item
							a(href="#") Третий уровень
						li.submenu-list__item
							a(href="#") Третий уровень
						li.submenu-list__item
							a(href="#") Третий уровень
						li.submenu-list__item.dropdowned
							a(href="#") Третий уровень
							.menu-list__icon
							ul.submenu-list
								li.submenu-list__item
									a(href="#") Четвертий уровень
								li.submenu-list__item
									a(href="#") Четвертий уровень
								li.submenu-list__item
									a(href="#") Четвертий уровень
								li.submenu-list__item
									a(href="#") Четвертий уровень
				
				li.submenu-list__item
					a(href="#").submenu-list__link Другий уровень
				li.submenu-list__item
					a(href="#").submenu-list__link Другий уровень

		li.menu-list__item
			a(href="#").menu-list__link Перший уровень
		li.menu-list__item
			a(href="#").menu-list__link Перший уровень
			.menu-list__icon
			ul.submenu-list
				li.submenu-list__item.dropdowned
					a(href="#").submenu-list__link Другий уровень
					.menu-list__icon
					ul.submenu-list
						li.submenu-list__item
							a(href="#") Третий уровень
						li.submenu-list__item
							a(href="#") Третий уровень
						li.submenu-list__item
							a(href="#") Третий уровень
						li.submenu-list__item.dropdowned
							a(href="#") Третий уровень