/*--------------------teachers----------------------*/
.teachers {
	@include adaptive-value-rem('padding-bottom', 73, 50, $maxWidth, $minWidth, 1);
}
.teachers__container {
	position: relative;
	.sect-header {
		.title {
			margin-bottom: rem(31);
		}

	}

	&:before{
		content: '';
		position: absolute;
		z-index: 2;
		top: rem(350);
		right: rem(-139);
		width: rem(231.592);
		height: rem(231.638);
		background-image: url(../img/teachers/teachers-star.svg);
		background-position: center center;
		background-repeat: no-repeat;
	}

	&:after{
		content: '';
		position: absolute;
		top: rem(178);
		right: rem(-400);
		width: rem(791);
		height: rem(747);
		border-radius: 100%;
		background: rgba(188, 211, 77, 0.40);
		filter: blur(125px);
	}
}
.teachers__cards {
	position: relative;
	z-index: 3;
	display: flex;
	flex-wrap: wrap;
	margin-left: rem(-15);
	margin-right: rem(-15);
	// column-gap: rem(30);
	row-gap: rem(30);
}
.teachers__card {
	width: calc(100% / 3 - rem(30));
	margin-left: rem(15);
	margin-right: rem(15);

	@include max-screen($sm){
		
		width: calc(50% - rem(30));
	}
	@include max-screen($xs){
		
		width: 100%;
	}
}
.card-teachers {}
.card-teachers__img {
	margin-bottom: rem(31);
	overflow: hidden;
	padding-bottom: prc(443,345);
	border-radius: rem(20);
	box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.25);
}
.card-teachers__name {
	margin-bottom: rem(15);
	@include adaptive-value-rem('font-size', 25, 20, $maxWidth, $minWidth, 1);
	font-weight: 600;
}
.card-teachers__descr {
	font-size: rem(20);
}
/*--------------------END teachers----------------------*/ 